.DS_Store

# dotenv
.env

# virtualenv
venv/
ENV/

# idea folder
*.idea

# uint files
*.uint64

# object files
*.o

# compiled C files
*.out

# compiled Rust files
*target/

# bmp files
*.bmp

# pcap files
*.pcap
